@font-face {
  font-family: "Nanum Gothic Coding";
  src: url("./assets/fonts/NanumGothicCoding-Regular.ttf") format("truetype");
}

html * {
  font-family: "Nanum Gothic Coding";
}

body {
  margin: 0;
  font-family: -apple-system, "Nanum Gothic Coding", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

.text-center {
  text-align: center;
}
